/* Splash Section */

.splash {
  padding: 6rem 2rem 0 2rem;
  margin-bottom: 2rem;
  background-color: var(--bg-color-light);
  color: var(--white);
}

.splash-container {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  margin: auto 0;
  width: 45%;
}

.small-SE-FSE {
  display: none;
}

.text {
  text-align: left;
  margin: auto;
  width: 40.25rem;
}

.text h3 {
  line-height: 1.1;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
  padding: 2rem 0;
}

.links a {
  display: flex;
  flex: 0 1 5rem;
  min-width: 2.8125rem;
  margin: 0 1rem 0 1rem;
  padding: 0.3125rem;
}

.links img {
  width: 40%;
  flex: 1 1 auto;
}

.links a:hover {
  border: 0.125rem solid white;
  padding: 0.1875rem;
  border-radius: 0.3125rem;
}

.links a:active {
  border-color: var(--bg-color);
  background-color: var(--bg-color);
}

@media only screen and (max-width: 1500px) {

  .splash {
    padding: 6rem 1rem 0 1rem;
  }

  .title h1 {
    font-size: 2.5rem;
  }

  .title h2 {
    font-size: 1.25rem;
  }

  .text h3 {
    font-size: 1rem;
  }

  .text {
    width: 32.1875rem;
  }
}

@media only screen and (max-width: 1105px) {
  .small-SE-FSE {
    display: block;
  }

  .big-SE-FSE {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {

  .splash-container {
    display: block;
  }

  .title {
    width: 100%;
    margin-bottom: 2rem;
  }

  .text {
    text-align: center;
  }

}

@media only screen and (max-width: 480px) {}