:root {
  font-size: 16px;

  --bg-color: rgb(7, 71, 90);
  --bg-color-light: rgb(13, 106, 135);
  --light-blue: rgb(142, 199, 210);
  --white: rgb(238, 230, 244);
  --highlight: rgb(218, 7, 59);

  --font-family: 'Sono', monospace, 'sans-serif';
  --heading-font-weight: 600;
  --regular-font-weight: 500;
  --light-font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-family);
}

/* Font Sizes and Weights */
h1 {
  font-size: 3rem;
  font-weight: var(--heading-font-weight);
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--regular-font-weight);
}

h3 {
  font-size: 1.25rem;
  font-weight: var(--regular-font-weight);
}

h4 {
  font-size: 1rem;
  font-weight: var(--light-font-weight);
}

span {
  color: var(--highlight);
}

.main-page {
  position: relative;
  top: 4.5rem;
}


@media only screen and (max-width: 1024px) {

  .main-page,
  footer {
    position: relative;
    top: 8rem;
  }
}

@media only screen and (max-width: 768px) {

  .main-page,
  footer {
    position: relative;
    top: 7.5rem;
  }
}

@media only screen and (max-width: 480px) {}