/* universal styles */
:root {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;

  --darkest-blue: #171d41;
  --dark-blue: #21295c;
  --med-dark-blue: #1b3b6f;
  --med-blue: #065a82;
  --med-light-blue: #1c7293;
  --light-blue: #9eb3c2;
  --white: #e3e9ed;

  color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: #e3e9ed;
  text-decoration: none;
  cursor: none;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(23, 29, 65, 1), rgba(23, 29, 65, 0.8), rgb(23, 29, 65, 1)), 
    url(../images/building-background.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}


.box-name, .box-title {
  border: 0.15rem solid #e3e9ed;
  margin-bottom: 2.5%;
}

.box-name, .box-title {
  padding: 0.25rem;
}

/*** box page links ***/
.box-page-links {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.box-page-links a {
  height: fit-content;
  width: fit-content;
  padding: 0.75rem;
  margin: 0 1rem 0 1rem;
  border: 0.15rem solid #e3e9ed;
  border-radius: 0.5rem;
}

.box-page-links a:hover,
.box-page-links a:active,
.box-page-links a:focus {
  border-radius: 0;
}

.box-page-links a img {
  display: block;
  height: 2rem;
  width: 2rem;
}

.box-page-links a:active img{
  height: 2.5rem;
  width: 2.5rem;
}

.box-page-links a:active {
  padding: 0.5rem;
}